
<div id="recipe-background" class=".col-md-offset-2 .col-md-6">
	<h1 id="recipe-title"><%= @recipe.title %></h1>
	<div id="recipe-info">
		<span id="avatar-thumb"><%= image_tag @recipe.user.avatar.url(:thumb) %></span>
		<span id="show-username"><%= @recipe.user.email %></span>
		<span id="show-minutes"><%= @recipe.cooktime %> minutes </span>
		<span><%= @recipe.servings %></span><i class="fa fa-user"></i>
	</div>
	
	
	<%= image_tag @recipe.picture.url(:medium) %>
	
</div>

