
<div id="recipe-background" class=".col-md-offset-2 .col-md-6">
	<h1 id="recipe-title"><%= @recipe.title %></h1>
	<div id="recipe-info">
		<span id="avatar-thumb"><%= image_tag @recipe.user.avatar.url(:thumb) %></span>
		<span id="show-username"><%= @recipe.user.email %></span>
		<span id="show-minutes"><%= @recipe.cooktime %> minutes </span>
		<span><%= @recipe.servings %></span><i class="fa fa-user"></i>
	</div>
	
	<div class="show-picture">
		<%= image_tag @recipe.picture.url(:medium) %>
	</div>

	<div class="row">
		<div class="recipe-metadata .col-md-6">
			<div class="pull-right">6 ratings</div>
		</div>
	</div>

	<div class="pull-left">
		<%= @recipe.ingredients %>
	</div>
	<div class="pull-right">
		<%= @recipe.directions %>
	</div>
	
</div>

